PORT=3000
APP_SECRET=replace-with-at-least-32-random-characters
ADMIN_KEY=replace-with-a-long-random-admin-key
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
RECAPTCHA_EXPECTED_HOSTNAME=greencare.triwra.org.tw
TRUST_PROXY=0
ACTIVITY_START=2026-10-12T10:00:00+08:00
ACTIVITY_END=2026-10-23T17:00:00+08:00
